.grid {
	display: grid;
	grid-template-columns: 1f 1f 1f;
	grid-template-rows: 1f 1f 1f 1f 1f 1f 1f 1f	;
    padding: 3px;
  	margin-bottom: 5px;

}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;	
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

.main {
	margin-top: 60px;
	display: block;
    position: relative;
    text-align: center;	
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;
}

.info {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
}

.skills {
	text-align: center;
    border: black solid;	
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 3;
}

.projects {
	border: black solid;
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 4;
}



.contact {
	text-align: center;
	border: black solid;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 5;
}

.network {
	text-align: center;
	border: black solid;	
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 6;
	grid-row-end: 6;
}


.project1 {
    display: block;
    margin: 0 auto;
    position: relative;
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

.project1:hover {
    transform: scale(2.5, 2.5); 
    opacity: 1;
}

.project2 {
    display: block;
    margin: 0 auto;
    position: relative;
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

.project2:hover {
    transform: scale(2.5, 2.5); 
    opacity: 1;
}

.project3 {
    display: block;
    margin: 0 auto;
    position: relative;
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

.project3:hover {
    transform: scale(2.5, 2.5); 
    opacity: 1;
}

.background-top { 
    background-image: url("background.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-mid { 
    background-image: url("java.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-bot { 
    background-image: url("network.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.foot {
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 7;
	grid-row-end: 7;
}

body {
  height: 100%;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.2rem;
  line-height: 1.45;
  display: flex;
  flex-wrap: wrap;
}


h1 {
	text-align: center;
	border: black solid;

}

h2 {
	text-align: center;
	border: black solid;
}

h3 {
	text-align: center;
	border: black solid;	
}

ul {
  padding: 0;
}

li {
  padding: 3px;
  margin-bottom: 5px;
  list-style-type: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    padding: 3px;
 	margin-bottom: 5px;
  	list-style-type: none;
}

li a {
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: red;
}